body {
    text-align: center;
}

.game{
    margin-top: 90px;
}

table {

    margin-top: 400px;
    margin-left: 100px;
    margin: auto;
}

.board td {
    width: 25px;
    height: 25px;
    text-align: center;
}

.hidden {
    background-color: gray;
}

.marked {
    background-color: gray;
}

.bestTime {
    position: absolute;
    width: 80px;
    height: 60px;
    text-align: center;
    font-size: 1.4em;
    background-color: gray;
    top: 70px;
    left: 280px;
    border-color: black;
    border-style: solid;
    display: inline;
}

.user {
    position: absolute;
    width: 82px;
    height: 64px;
    text-align: center;
    font-size: 1.4em;
    background-color: gray;
    top: 70px;
    border-color: black;
    border-style: solid;
    display: inline;
    left: 380px;
}


.timeCount {
    position: absolute;
    width: 80px;
    height: 60px;
    text-align: center;
    font-size: 1.4em;
    background-color: gray;
    top: 70px;
    border-color: black;
    border-style: solid;
    display: inline;
    left: 470px;
}

.level {
    width: 100px;
    height: 60px;
    text-align: center;
    font-size: 1.4em;
    background-color: gray;
    border-color: black;
    border-style: solid;
    margin-top: 10px;
}

.lives{
    width: 100px;
    height: 60px;
    text-align: center;
    font-size: 1.4em;
    background-color: gray;
    border-color: black;
    border-style: solid;
    margin-top: 10px;
}
